%h2= 'Buy Some Damn Art.'
%p.description!= 'Original art by kickass artists for $200.'

<!-- Begin MailChimp Signup Form -->
%form{:action => "http://arthound.us2.list-manage1.com/subscribe/post?u=09a6aba1008c7fa5a557f2960&amp;id=756ffb3cab", :method => "post", :name => "mc-embedded-subscribe-form", :method => "post", :name => "mc-embedded-subscribe-form"}
  %input{:type => "email", :name => "EMAIL", :placeholder => "you@example.com", :class => "text"}
  %input{:type => "submit", :name => "subscribe", :value => "Submit", :class => "submit" }

<!--End mc_embed_signup-->
%p.subtitle Enter your email address to get weekly art sales. Launching Fall 2011.

#notice= flash[:notice]

