%h2= 'Buy Some Damn Art!'
%p.description!= 'Affordable, original art in your inbox every Tuesday. Launching late Fall 2011.'

<!-- Begin MailChimp Signup Form -->
%form{:action => "http://arthound.us2.list-manage1.com/subscribe/post?u=09a6aba1008c7fa5a557f2960&amp;id=756ffb3cab", :method => "post", :name => "mc-embedded-subscribe-form", :method => "post", :name => "mc-embedded-subscribe-form"}
  %input{:type => "email", :name => "EMAIL", :placeholder => "Enter your email address to sign up", :class => "text"}
  %input{:type => "submit", :name => "subscribe", :value => "Sign up", :class => "submit" }

<!--End mc_embed_signup-->

#notice= flash[:notice]

